<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'reg' %}">Add a User</a><br>
    <a href="{% url 'search' %}">Search For a User</a><br>
    {% csrf_token %}

    {% for ms in msg %}
   <h1>{{ms }}</h1>
    {% endfor %}

<h2>
 {% for item in data%}
 name:
{{ item.Name }}<br><br>
email:
{{ item.email}}<br><br>
phone no:
{{ item.phoneNo}}<br><br>
gender:
{{ item.gender}}<br><br>

 {% endfor %}
</h2>
</body>
</html>